.nav-bar {
	border: 1px solid lightgrey;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin: 5px;
    padding: 5px;
 	text-align: center;
	display: flex;
	justify-content: flex-start;
	flex-flow: row;
	align-items: center;
	width: 80%;
	max-width: 750px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.nav-child {
	padding: 5px;
	font-size: 17px;
	color: grey;
}

.nav-child:hover {
	color: black;
	cursor: pointer;
}

.push-right {
	margin-left: auto;
}
