.thread-summary {
	border-top: 1px solid black;
	margin: 0px;
    padding: 7px;
    font-size: 25px;
 	text-align: left;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}

.title {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.hover {
	text-decoration: none;
	color: black;
}

.hover:hover {
	cursor: pointer;
}

.thread-summary-child {

}

.creator {
	font-size: 12px;
	font-weight: bold;
	color: grey;
}


.summary {
	font-size: 15px;
	color: grey;
}

.meta-data {
	font-size: 10px;
	margin-left: auto;
	color: grey;
	font-weight: bold;
}